<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://amazon.co.uk"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="OS" value="win7"/>
    <add key="HostName" value="LocalHost"/>
    <add key="Environment" value="QA"/>
    <add key="UserName" value="Rajbir Kaur"/>
    <add key="FromEmail" value="gunjangarg1604@gmail.com"/>
    <add key="FromPassword" value="pass@1234"/>
    <add key="ReportUrl" value="https://bit.ly/2KOjHaS"/>
    <add key="Port" value="25"/>
  </appSettings>
</configuration>